/* цвет основного тексту #212121 */
/* цвет вторичного тексту #757575 */
/* акцент #2196F3 */
/* белый цвет #ffffff */
/* вторичный цвет фона #2F303A */


:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-wh-color: #ffffff;
  --secondary-bg-color: #2f303a;
}


body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-wh-color);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--primary-wh-color);
}

/* Стилизация логотипа */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

.site .logo {
  color: #000000;
}

.footer .logo {
  color: var(--primary-wh-color);
}

/* Стилизация навигации сайта */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link a {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.link a:hover,
.link a:focus {
  color: var(--accent-color);
}

/* Стилизация контактов */
.svjaz a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.svjaz a:hover,
.svjaz a:focus {
  color: var(--accent-color);
}

/* Стилизация footer */

/* Стилизация контактов footer */
.footer {
  background-color: var(--secondary-bg-color);
}

.footer-contacts {
  color: var(--primary-wh-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}